PUID=1000
PGID=1000
TZ=UTC
BASE_URL=http://127.0.0.1:9925
ALLOW_SIGNUP=true
MEALIE_DB_ENGINE=postgres
MEALIE_DB_NAME=mealie
MEALIE_DB_USER=mealie
MEALIE_DB_PASSWORD=change_me
MEALIE_DB_HOST=mealie_db
MEALIE_DB_PORT=5432
