PAPERLESS_DB_NAME=paperless
PAPERLESS_DB_USER=paperless
PAPERLESS_DB_PASSWORD=change_me
PAPERLESS_REDIS=redis://paperless_redis:6379
PAPERLESS_DBHOST=paperless_db
PAPERLESS_DBPORT=5432
PAPERLESS_DBENGINE=postgresql
PAPERLESS_SECRET_KEY=change_me_long_random_secret
PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD=change_me
PAPERLESS_URL=http://127.0.0.1:8002
PAPERLESS_TIME_ZONE=UTC
