VIKUNJA_SERVICE_PUBLICURL=http://127.0.0.1:3456/
VIKUNJA_SERVICE_JWTSECRET=change_me_long_random_secret
VIKUNJA_DATABASE_TYPE=mysql
VIKUNJA_DATABASE_HOST=vikunja_db
VIKUNJA_DATABASE_PORT=3306
VIKUNJA_DATABASE_USER=vikunja
VIKUNJA_DATABASE_PASSWORD=change_me
VIKUNJA_DATABASE_DATABASE=vikunja
VIKUNJA_REDIS_ENABLED=true
VIKUNJA_REDIS_HOST=vikunja_redis:6379
VIKUNJA_DB_NAME=vikunja
VIKUNJA_DB_USER=vikunja
VIKUNJA_DB_PASSWORD=change_me
VIKUNJA_DB_ROOT_PASSWORD=change_me_root
